@using System.Text.Encodings.Web
@model Module
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/RusticiSoftware-TinCanJS-0.50.0-0-g8733f14/RusticiSoftware-TinCanJS-8733f14/build/tincan.js"></script>
<script>
    var API = (function () {
        var data = {
            //"cmi.core.student_id": "5873D3FB-EA85-4385-E55B-08D8C3BBB6E7",
            //"cmi.learner_name": "Joe Bloggs",
            //"cmi.core.student_name": "Joe Bloggs",
            //"cmi.location": "",
            //"cmi.core.lesson_location": "index.html#/lessons/y3iqZjwZMpoL_ZI0SnktKjK-WYBolENv",
            //"cmi.completion_status": "incomplete",
            "cmi.core.lesson_status": "not attempted",
            //"cmi.suspend_data": null,
            //"cmi.success_status": "",
            //"cmi.score.raw": 0,
            //"cmi.core.score.raw": 0,
            //"cmi.score.min": 0,
            //"cmi.score.max": 0,
            //"cmi.score.scaled": 0,
            "initialised": false
        };
        return {
            Initialize: function () {
                console.log("API - init");
                data["initialised"] = true;
                return "true";
            },
            LMSInitialize: function () {
                console.log("API - init");
                data["initialised"] = true;
                return "true";
            },
            Commit: function () {
                console.log("%cAPI Commit", " background: white; border: 3px solid orange; color: orange;-size: 25px;margin: 20px; padding: 10px;");
                if (data["initialised"]) {
                    console.log(data);
                }


                return "true";
            },
            LMSCommit: function () {
                console.log("%cAPI Commit", " background: white; border: 3px solid orange; color: orange;-size: 25px;margin: 20px; padding: 10px;");
                if (data["initialised"]) {
                    console.log(data);
                }


                return "true";
            },
            Finish: function () {
                console.log("API - finish");
                return "true";
            },
            LMSFinish: function () {
                console.log("API - finish");
                return "true";
            },
            Terminate: function () {
                console.log("API - terminate");
                return "true";
            },
            LMSTerminate: function () {
                console.log("API - terminate");
                return "true";
            },
            GetValue: function (model) {
                console.log("%cGet value", " background: white; border: 3px solid red; color: red;-size: 25px;margin: 20px; padding: 10px;");
                console.log(model);
                console.log(data[model]);
                return data[model] || "";
            },
            LMSGetValue: function (model) {
                console.log("%cGet value", " background: white; border: 3px solid red; color: red;-size: 25px;margin: 20px; padding: 10px;");
                console.log(model);
                console.log(data[model]);
                return data[model] || "";
            },
            SetValue: function (model, value) {
                console.log("%cSet value", " background: white; border: 3px solid green; color: green;-size: 25px;margin: 20px; padding: 10px;");
                console.log(model, value);
                data[model] = value;
                return "true";
            },
            LMSSetValue: function (model, value) {
                console.log("%cSet value ", " background: white; border: 3px solid green; color: green;-size: 25px;margin: 20px; padding: 10px;");
                console.log(model, value);
                data[model] = value;
                return "true";
            },
            GetLastError: function () {
                return "0";
            },
            LMSGetLastError: function () {
                return "0";
            },
            GetErrorString: function (errorCode) {
                return "No error";
            },
            LMSGetErrorString: function (errorCode) {
                return "No error";
            },
            GetDiagnostic: function (errorCode) {
                return "No error";
            },
            LMSGetDiagnostic: function (errorCode) {
                return "No error";
            }
        };
    })();
    var API_1484_11 = API;
</script>

@{

    var encoder = UrlEncoder.Create();

    var query = "?endpoint=https://localhost:44340/tincan" +
                "&auth=Basic OjFjMGY4NTYxNzUwOGI4YWY0NjFkNzU5MWUxMzE1ZGQ1" +
                "&actor={\"name\": [\"First Last\"], \"mbox\": [\"mailto: firstlast@mycompany.com\"]}" +
                $"&activity_id={@Model.Id}" +
                $"&registration={@Model.Id}";
    var url = Model.Url;
    if (Model.Packagetype == "xApi" || Model.Packagetype == "cmi5")
    {
        url = @Model.Url + query;
    }

}

<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-4">
            <p>Progress: @Model.TrackingData.Progress%</p>
        </div>
        <div class="col-4">
            <p>Is Complete: @Model.TrackingData.Complete.ToString()</p>
        </div>
        <div class="col-4">
            <p>Completed times: @Model.CompletedTimes</p>
        </div>
        <div class="col-4">
            <p>Restarted times: @Model.RestartedTimes</p>
        </div>
        <div class="col-4">
            <a asp-controller="TinCan" asp-action="ResetModule" asp-route-id="@Model.Id">
            <button class="btn btn-danger">Reset Progress</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="height: 750px">
            <iframe style="width: 100%; height: 100%;" src="@url"></iframe>
        </div>
    </div>
</div>
